**/node_modules
**/.turbo
**/.medusa
**/dist
**/.next
**/out
**/build
**/coverage
.git
.github
**/.env
**/.env.local
**/.env.production
**/*.log
.DS_Store
deploy/docker-compose.yml
deploy/README.md
deploy/.env.example
